{% extends "base.html" %}

{% block content %}
<section>
    <img class ="hero" src="https://images.unsplash.com/photo-1598799170815-933217492614?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80" alt="heroImg" height="500rem" width="100%"  filter=" blur(2px)"/>
</section>
<section class = "welcome">
    <h1 >Welcome to Django Snacks</h1>
    <p class = "we"  style="font-size:25px">We are offering a helthy snacks for you </p>
    <p class = "we"  style="font-size:25px">Take a look below 👇 </p>
</section>


{% endblock %}

{% block products %}
<div class="grid-container">
    <div class="grid-item"><img src="https://images.unsplash.com/photo-1489444444961-d0fda97f0986?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGhlYWx0aHklMjBzbmFja3N8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></div>
    <div class="grid-item"><img src="https://images.unsplash.com/photo-1529763898477-40a4374b072f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fGhlYWx0aHklMjBzbmFja3N8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></div>
    <div class="grid-item"><img src="https://images.unsplash.com/photo-1530448609394-9a8ce994a507?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTJ8fGhlYWx0aHklMjBzbmFja3N8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></div>  
    <div class="grid-item"><img src="https://images.unsplash.com/photo-1556710807-81aa7ea511f3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTV8fGhlYWx0aHklMjBzbmFja3N8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></div>
    <div class="grid-item"><img src="https://images.unsplash.com/photo-1455099675745-a442989ac8bf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTR8fGhlYWx0aHklMjBzbmFja3N8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></div>
    <div class="grid-item"><img src="https://images.unsplash.com/photo-1494597564530-871f2b93ac55?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTB8fGhlYWx0aHklMjBzbmFja3N8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></div>  
    <div class="grid-item"><img src="https://images.unsplash.com/photo-1602483289282-f9c08b1f9992?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njh8fGhlYWx0aHklMjBzbmFja3N8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></div>
    <div class="grid-item"><img src="https://images.unsplash.com/photo-1455099229380-7b52707e356a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fGhlYWx0aHklMjBzbmFja3N8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></div>
    <div class="grid-item"><img src="https://images.unsplash.com/photo-1551276929-3f75211e0986?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODR8fGhlYWx0aHklMjBzbmFja3N8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></div>  
  </div>
{% endblock %}